<footer>
        <h2>ABOUT US</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde neque molestias non ullam voluptatibus sint optio.<br> Assumenda, ipsum odit! Ratione voluptatibus quaerat impedit sunt reprehenderit ipsam accusamus ut qui voluptas.</p>
        <div class="contact-details">
            <address> #100/, ABC building, xyz road, qwe city, mno state <br/> Phone Number: +91 9999999999 <br /> email address: xyz@abc.com</address>
            <div class="social-media">
                <a href="#!"><i class="fa fa-twitter"></i></a>
                <a href="#!"><i class="fa fa-facebook"></i></a>
                <a href="#!"><i class="fa fa-instagram"></i></a>
                <a href="#!"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

    <footer>
