section{
    max-width: 100%;
    overflow-x: hidden;
}

/*----------Courses Section---------*/

.courses-section{
    height: auto;
    width: 100%;
}


.courses-section-header {
    padding-top: 80px;
    text-align: center;
    font-size: large;
}

.courses-section-header  h2{
    font-size: 40px;
    font-weight: 500;
}

.courses-section-header  p{
    padding-top: 30px;
}

.box-section1{
    margin-top: 80px;
}

.box-section1 .row{
    display:flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.box-section1 .col-sm-3{
    background-color: rgb(245, 141, 141) ;
    text-align: center;
    height: auto;
    padding:40px 30px;
    border-radius: 13px;
}

.box-section1 .col-sm-3:hover {
    box-shadow: 0 0 30px 0px rgb(0,0,0,0.7);
}

.box-section1 .col-sm-3 p{
    padding-top: 25px;
}


/*----------Campus Section---------*/

.campus{
    background-color: rgb(235, 235, 235);
    margin-top: 80px;
}

.campus-content{
    padding-top: 80px;
    text-align: center;
}

.campus-content  h2{
    font-size: 40px;
    font-weight: 500;
}

.campus-content p{
    padding-top: 30px;
    font-size: large;
}

.box-section{
    margin-top: 80px;
}

.box-section .row {
    display: flex;
    justify-content: space-around;
    margin: 0px 80px;
    text-align: center;
}

.box-section .col-sm-3{
    flex-basis: 30%;
    width: 28%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    margin-bottom: 80px;
}

.box-section .col-sm-3 img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
}

.layer{
    background: transparent;
    height: 100%;
    width: 97%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}


.layer h3{
    width: 100%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*-----Facilities Section----*/

.facilities-content {
    padding-top: 80px;
}

.facilities-content h2{
    font-size: 40px;
    font-weight: 500;
}

.facilities-content p{
    padding-top: 30px;
    font-size: large;
}

.facilities-content1{
    text-align: left;
    margin-top: 30px;
}

.facilities-content1 h4{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/*--- Testimonial section---*/
.students {
    background-color: rgb(235, 235, 235);
    padding-top: 80px;
}

.students h2{
    font-size: 40px;
    font-weight: 500;
}

.students p{
    padding-top: 30px;
    font-size: large;
}

.students-review img{
    height: 40px;
    border-radius: 50%;
    margin-top: 30px;
}

.students-review .row{
    justify-content: space-around;
    padding-top:50px;
    padding-bottom: 40px;
}

.students-review .row .col-sm-2{
    width: 40%;
    background-color: rgb(245, 141, 141);
    border-radius: 13px;
    display: flex;
}

.students-review p{
    text-align: left;
    font-size: 16px;
    margin-left: 50px;
}

.students-review h4{
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

/*---Contact us section----*/

.enroll{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.container{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../../assets/banner2.jpg");
    height: 400px;
    border-radius: 15px;
}

.enroll h1{
    color: #fff;
    top: 80px;
    position: relative;
}

.enroll .btn{
    position: relative;
    top:110px;
    border: 1px solid #fff;
    padding: 10px;
}

.enroll .btn:hover{
    color: #fff;
    background: #a72a21;
    border: none;
}

.enroll .btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}


@media(max-width:800px) {

    .courses-section-header {
        padding-top: 30px;
    }
    
    .courses-section-header  h2{
        font-size: 28px;
        font-weight: 500;
    }
    
    .courses-section-header  p{
        padding-top: 15px;
        font-size: 15px;
    }
    
    .box-section1{
        margin-top: 20px;
    }
    
    .box-section1 .row{
        display:flex;
        flex-direction: column;
    }
    
    .box-section1 .col-sm-3{
        height: auto;
        width: 70%;
        padding:20px 10px;
        margin: 10px auto;

    }
    
    .box-section1 .col-sm-3 p{
        padding-top: 15px;
    }

    /*----------Campus Section---------*/

.campus{
    margin-top: 40px;
}

.campus-content{
    padding-top: 40px;
    text-align: center;
}

.campus-content  h2{
    font-size: 35px;
    font-weight: 500;
}

.campus-content p{
    padding-top: 15px;
    font-size: 15px;
}

.box-section{
    margin-top: 40px;
}

.box-section .row {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    padding-bottom: 20px;
}

.box-section .col-sm-3{
    width: 80%;
    height: 700px;
    position: relative;
    margin: 10px auto;
}

/*-----Facilities Section----*/

.facilities-content {
    padding-top: 40px;
}

.facilities-content h2{
    font-size: 30px;
    font-weight: 500;
}

.facilities-content p{
    padding-top: 35px;
    font-size: medium;
}

.facilities-content1{
    text-align: left;
    margin-top: 30px;
}

.facilities-content1 h4{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/*--- Testimonial section---*/
.students {
    padding-top: 30px;
}

.students h2{
    font-size: 30px;
    font-weight: 500;
}

.students p{
    padding-top: 16px;
    font-size: medium;
}

.students-review .row{
    justify-content: flex;
    flex-direction: column;
    padding-top:20px;
    padding-bottom: 20px;
}

.students-review .row .col-sm-2{
    width: 70%;
    margin: 10px auto;

}

.students-review p{
    text-align: left;
    font-size: 14px;
    margin-left: 30px;
}

.students-review h4{
    font-size: 16px;
    font-weight: 600;
}


}