<section class="courses-section fluid-container">
    <div class="courses-section-header">
        <h2>Courses We Offer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, tempora totam? Alias libero quis error, distinctio nihil dolor laboriosam ullam. Culpa quibusdam mollitia minima. Saepe, impedit! Neque ratione officiis distinctio.</p>
    </div>
    <div class="box-section1">
        <div class = "row">
            <div class="col-sm-3">
                <h3>Development</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
            </div>
            <div class="col-sm-3">
                <h3>Testing</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
            </div>
            <div class="col-sm-3">
                <h3>AI/ML</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
            </div>
        </div>

    </div>
</section>

<section class="campus fluid-container">
    <div class="campus-content">
        <h2>Our Global Campus</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae maiores corrupti sunt eius pariatur fugit perferendis<br/> quaerat id excepturi sit non ipsa et architecto, sapiente porro quia ab, dolores molestias?</p>
    </div>
    <div class="box-section">
        <div class="row">
            <div class="col-sm-3">
                  <img src="./assets/london.png">
                  <div class="layer">
                    <h3>LONDON</h3>
                  </div>
            </div>
            <div class="col-sm-3">
                <img src="./assets/newyork.png">
                <div class="layer">
                    <h3>BENGALURU</h3>
                  </div>
          </div>
          <div class="col-sm-3">
            <img src="./assets/washington.png">
            <div class="layer">
                <h3>MYSORE</h3>
              </div>
          </div>
        </div>
    </div>
</section>

<section class="fluid-container facilities">
    <div>
        <div class="facilities-content text-center">
            <h2>Our Facilities</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aliquid veritatis tempore sapiente mollitia,<br /> libero officiis quidem inventore ullam quod incidunt laborum dolorum quis facere, sit in modi optio porro!</p>
        </div>
        <div class="box-section">
            <div class="row">
            <div class="col-sm-3">
            <div class="tumbnail">
                <img src="../../../assets/library.png" alt="library">
                <div class="facilities-content1">
                    <h4>World Class Library</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ullam quod possimus illum esse ea aut molestiae aperiam pariatur quas odio expedita, ratione quis minima dolorem. Recusandae blanditiis voluptatem aspernatur?</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tumbnail">
                <img src="../../../assets/basketball.png" alt="Play_area">
                <div class="facilities-content1">
                    <h4>Largest Playground</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, repellat hic quos ut quo iusto autem earum quasi magnam facilis nihil vitae natus deleniti quas reprehenderit consequatur culpa, quibusdam quisquam.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tumbnail">
                <img src="../../../assets/cafeteria.png" alt="cafeteria">
                <div class="facilities-content1">
                    <h4>Tasty and Healthy Food</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim cum itaque autem dolorem harum nam, incidunt ea animi repellat alias unde neque optio iste sapiente odit? Ipsa nisi dignissimos excepturi.</p>
                </div>
            </div>
        </div>
        </div>
        </div> 
    </div>
</section>

<section class="fluid-container students"> 
    <div class="students-content text-center">
        <h2>What Out Students Says</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni harum praesentium ullam quae accusamus veniam alias eos? Provident,<br /> placeat tempora aliquam quod sint odio tempore magnam sit dolores iure perspiciatis?</p>
        <div class="students-review">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/user1.jpg">
                    <div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nobis consectetur est ea eos recusandae totam temporibus exercitationem corrupti, reprehenderit odio a consequuntur quidem architecto beatae incidunt maxime minus nemo!</p>
                        <h4>-Krithi</h4>
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../../assets/user2.jpg">
                    <div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nobis consectetur est ea eos recusandae totam temporibus exercitationem corrupti, reprehenderit odio a consequuntur quidem architecto beatae incidunt maxime minus nemo!</p>
                        <h4>-Raju Khadka</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="enroll">
    <div class="container">
        <h1>Enroll For Our Various Online Courses <br /> Anywhere From The World</h1>
        <button class="btn"><a href="#!">Contact Us</a></button>
    </div>

</section>