<header class="fluid-container">
    <h1>ABOUT US</h1>
</header>
<section class="about-us">
    <div class="row">
        <div class="col-sm-6">
            <img src="../../../assets/about.jpg" alt="Out Team">
        </div>
        <div class="col-sm-6">
            <h2>We Are Worlds Largest Training Platform</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, quia vero illum nobis aperiam voluptatum assumenda consectetur, magnam eligendi maxime commodi beatae quis, voluptates necessitatibus. Veritatis quisquam itaque iusto fuga?</p>
            <button type="button" class="btn">EXPLORE NOW</button>
        </div>
    </div>
</section>
