<header class="fluid-container">
    <h1>OUR COURSES</h1>
</header>
<section class="courses-section fluid-container">
    <div class="courses-section-header">
        <h2>Courses We Offer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, tempora totam? Alias libero quis error, distinctio nihil dolor laboriosam ullam. Culpa quibusdam mollitia minima. Saepe, impedit! Neque ratione officiis distinctio.</p>
    </div>
    <div class="box-section1">
        <div class = "row">
            <div class="col-sm-3">
                <h3>Development</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
            </div>
            <div class="col-sm-3">
                <h3>Testing</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
            </div>
            <div class="col-sm-3">
                <h3>AI/ML</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
            </div>
            </div>
            <div class = "row">
                <div class="col-sm-3">
                    <h3>Devops</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
                </div>
                <div class="col-sm-3">
                    <h3>Networking</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
                </div>
                <div class="col-sm-3">
                    <h3>Database Management</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus non vero eaque pariatur nostrum quibusdam, quasi quidem aperiam exercitationem ea.</p>
                </div>
        </div>
    </div>
</section>